.Marquee-tag{
    background-color: rgb(172, 172, 147);
    border: solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.Marquee-tag img{
    height: 200px;
    width: auto;
    margin: 5px;
    border-radius: 20px;
}
.Marquee-tag img:hover{
    cursor: pointer;
    height: 205px;
    box-shadow: rgb(3, 59, 52) 0px 2px 40px 10px;
    animation: normal;
}
